@using Microsoft.AspNetCore.Authorization
@using MudWasm.Client.Navigation

@page "/"
@inherits BasePageComponent

<PageTitle>@Title</PageTitle>
<div class="mx-8">
    <MudGrid Justify="Justify.FlexStart">
     @foreach (var item in items)
            {
        <MudItem xs="6" xl="3">
            <MudButton OnClick="@HandleMenuItemClick" Variant="Variant.Filled" FullWidth Style="height: 15rem">
                <div class="d-flex flex-column align-center">
                    <MudIcon Icon="@Icons.Filled.AdfScanner" Style="font-size: 4rem;"/> 
                    <MudText Typo="Typo.h5">@item</MudText>
                </div>
            </MudButton>
        </MudItem>
    }

</MudGrid>
</div>


@code{
    private List<string> items = new() { "Hello", "yes", "this", "works?", "Hello", "yes", "this", "works?","Hello", "yes", "this", "works?" ,"Hello", "yes", "this", "works?"  };

    private void HandleMenuItemClick() => NavigationManager.NavigateTo("/counter");

    protected override void OnInitialized()
    {
        Title = "Dashboard";
        base.OnInitialized();
    }
}